@{

    var movie = (MovieModel) ViewData["Movie"];
    <img src="@movie.Image" height="200px" alt="Not supported">
    <h3 class="align-middle" style="color: white">ID: @movie.Id</h3>
    <h3 class="align-middle" style="color: white">Name: @movie.Name</h3>
    <h3 class="align-middle" style="color: white">Year: @movie.Year</h3>
    <h3 class="align-middle" style="color: white">Summury: @movie.Summury. </h3>


}