@{
    ViewData["Title"] = "Check";
}
@{

    MangaModel manga = (MangaModel)ViewData["MangaList"];
    var space = "\t";
}

<h2>@manga.Name</h2>

<br />
<br />
<br />
<!--- أشوف اني اخلي ال-->
<div style=" display:flex">
    <figure class="figure">
        <img src="@manga.Image" class="figure-img img-fluid rounded" alt="@manga.Name">
        <figcaption class="figure-caption"></figcaption>
    </figure>
    <div style=" padding-left:3em">
        <h3>  <span style="padding-left: 0.3em" class="badge bg-secondary">@manga.Rate</span>@space Description:</h3>
        <p style="width:30em">@manga.Description</p>
    </div>
</div>
<br />
<br />
