@model MvcMovie.Models.Author

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-info">Details</h1>

<div>
    <h4 class="text-info">Author</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary form-control" asp-action="Edit" asp-route-id="@Model.AuthorId">Edit</a>
    <br />
    <br />
    <a class="btn btn-success form-control" asp-action="Index">Back to List</a>
</div>
